<section class="container-fluid" id="top-songs">
    <h2 id="select-text">Select a song to learn more</h2>
    <div class="row">
    {{!-- each artwork --}}
    {{#each arts}}

    <div class="song-container">
        <a href="/{{title}}">
            <img src="/images/{{art}}" alt="art">
        </a>    
    </div>
    
    {{/each}}
    </div>
</section>