<section id="heroes">
    {{#each arts}}
    <div class="hero-container">
        <a href="/{{title}}">
            <img src="/images/{{art}}" alt="art">
        </a>

        <h3 class="hero-name">{{title}}</h3>
    </div>

    {{/each}}
</section>