a {
    color: $black;
    font-size: 1.5em;
}

a:hover {
    color: $green;
    text-decoration: none;
}

#selected-song {
    img {
        width: 380px;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    h1, h3 {
        text-align: center;
    }
    
    audio {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    -webkit-transition:all 0.5s linear;
    -moz-transition:all 0.5s linear;
    -o-transition:all 0.5s linear;
    transition:all 0.5s linear;
    -moz-box-shadow: 2px 2px 4px 0px $black;
    -webkit-box-shadow:  2px 2px 4px 0px $black;
    box-shadow: 2px 2px 4px 0px $black;
    -moz-border-radius:7px 7px 7px 7px ;
    -webkit-border-radius:7px 7px 7px 7px ;
    border-radius:7px 7px 7px 7px ;
    width: 100%;
    }
}

@media screen and (min-width: $bp-sm) { 
    #selected-song {
        img {
            width: 320px;
        }
    }
}

@media screen and (min-width: $bp-md) { 
    #selected-song {
        img {
            width: 400px;
        }
    }
}

@media screen and (min-width: $bp-lg) { 
    #selected-song {
        img {
            width: 500px;
        }
    }
}